.Info_grey {
    background: #f0eee4;

}

.Info_tit {
    font-size: 40px;
    text-align: center;
    font-family: "ITCNovareseMed", sans-serif !important;

}

.Info_txt {
    font-size: 25px;
    font-size: 1.6rem;
    letter-spacing: .04rem;
    line-height: 160%;
    margin-top: 30px;
    text-align: center;
    
}
.Card_in{
    width: calc((100%-75px) / 3);
    margin: 0 auto;
}

.card_img{
    width: 450px;
    margin: 0 auto;
}
.Card_tit{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}
.card_txt{
    width: 400px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
    
    margin: 0 auto;
}
.Category_grey{
    background: #f0eee4;
    width: calc((100% - 25px) / 4px);

}
.Category_img{
    width: 280px;
    margin-top: 80px;
}