.Header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    background: rgba(53, 50, 50, 0.3);
    padding: 10px 0;

}

.menu_list {
    width: 1000px;
    color: aliceblue;
    font-size: 15px;

}
.btn_menu{
    background: white;
    width: 120px;
    height: 25px;
    border-radius: 5px;
}
.btn_black{
    background: rgba(22, 18, 18, 0.3);;
    width: 120px;
    height: 25px;
    border-radius: 5px;
    color: white;
}

.Head {
    flex-direction: column;
    align-items: center;
}

.BrandLogo_img {
    margin-bottom: 10px;
    max-width: 600px;
    transition: 0.3s
}
